{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if book == 'Not found' %}
        <h1>{{ book }}</h1>
        {% endif %}
        <form action="{{url_for('search')}}" method="post">
            <input name="title" class="form-control input-padding" type="text" placeholder="Enter book title" aria-label="Search">
            <button class="btn btn-primary btn-md" type="submit">Search</button>
            <a class="btn btn-secondary btn-md" href="{{url_for('logout')}}" role="button">Logout</a>
        </form>
    </div>
{% endblock %}